%h3.inline User access policies
.inline.pull-right
  = link_to 'Add access rule', new_organizations_policy_path, :class => 'btn btn-small btn-inverse', style: 'margin-top: 20px;'

%table.table.table-striped.table-bordered{:id => "grid"}
  %thead
    %tr
      %th User
      %th Terminal
      %th Protocol
      %th Connection Username
      %th Port
      %th
  %tbody
    - @users.each do |user|
      - user.connections.each do |conn|
        %tr
          %td= user.email
          %td= conn.terminal.uri
          %td= conn.protocol
          %td= conn.user
          %td= conn.port
          %td= delete_button "Delete", organizations_policy_path(id: conn.id, user_id: user.id)

:javascript
  _vam.initPoliciesViewer($('#grid'))
