= render 'validation_errors', :resource => @token

:css
  .datetime select {
    width: auto;
  }

.row
  .span12
    = form_for @token, :url => url do |f|
      = f.label :active_at
      .datetime
        = f.datetime_select :active_at
      = f.label :period, "Active for: (hrs)"
      = f.number_field :period, :in => 0..72

      %br
      = f.submit
