%h3.inline Connections

%table.table.table-bordered.table-striped#grid
  %thead
    %tr
      %th Name
      %th Terminal
      %th Protocol
      %th User
      %th Port
  %tbody
    - @connections.each do |conn|
      %tr
        %td= connect_link conn.terminal.name, conn
        %td= connect_link conn.terminal.uri, conn
        %td= connect_link conn.protocol.to_s.upcase, conn
        %td= connect_link conn.user, conn
        %td= connect_link conn.port, conn

:javascript
  _vam.initUserConnectionViewer($('#grid'))
