%h3.inline Connections
.inline.pull-right
  = button_to "Logout", destroy_user_session_path, method: :delete
.inline.pull-right
  = "Logged in as #{current_user.email}"

%table.table.table-bordered.table-striped#grid
  %thead
    %tr
      %th Name
      %th Terminal
      %th Protocol
      %th User
      %th Port
  %tbody
    - @connections.each do |conn|
      %tr
        %td= connect_link conn.terminal.name, conn
        %td= connect_link conn.terminal.uri, conn
        %td= connect_link conn.protocol.to_s.upcase, conn
        %td= connect_link conn.user, conn
        %td= connect_link conn.port, conn

:javascript
  _cvp.initUserConnectionViewer($('#grid'))
