!!!
%html
  %head
    %title Cloudview
    = stylesheet_link_tag "http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800"
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags

  %body
    .navbar.navbar-inverse
      .navbar-inner
        = link_to "CVP | #{current_organization.name}", "/", 'class' => 'brand'
        %ul.nav
          %li
            %a{href: organizations_dashboard_path('index')}
              %i.icon-th.icon-white
              Dashboard
          %li
            %a{href: organizations_policies_path}
              %i.icon-lock.icon-white
              Access policies
          %li
            %a{href: organizations_dashboard_path('logs')}
              %i.icon-list.icon-white
                Event Log

        %ul.nav.pull-right
          %li= link_to '+register', new_organization_organizations_head_path
          %li
            %a.org_select
              - opts = {:name => 'organization_id'}
              = form_tag switch_organization_organizations_head_path do
                = collection_select_tag(current_head.organizations, current_organization.id, opts)
          %li
            %a
              %i.icon-off.icon-white
              .inline= button_to "Logout", destroy_head_session_path, method: :delete

    = render 'flash_messages'
    .container
      = yield

