!!!
%html
  %head
    %title Cloudview
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags

  %body
    %nav.top-bar
      %ul
        %li.name
          %h1= @organization.name
      %section
        %ul.left
          %li= link_to 'Dashboard', organizations_dashboard_path('index')
          %li= link_to 'Access Policies', organizations_policies_path
        %ul.right
          %li= button_to "Logout", destroy_head_session_path, method: :delete

    = render 'flash_messages'
    = yield

