!!!
%html
  %head
    %title Cloudview
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags

  %body
    .navbar.navbar-inverse
      .navbar-inner
        = link_to "CVP | #{@organization.name}", organizations_dashboard_path('index'), 'class' => 'brand'
        %ul.nav
          %li
            %a{href: organizations_dashboard_path('index')}
              %i.icon-th.icon-white
              Dashboard
          %li
            %a{href: organizations_policies_path}
              %i.icon-lock.icon-white
              Access policies
          %li
            %a{href: organizations_dashboard_path('logs')}
              %i.icon-list.icon-white
              Event Log

        %ul.nav.pull-right
          %li
            %a
              %i.icon-off.icon-white
              .inline= button_to "Logout", destroy_head_session_path, method: :delete

    = render 'flash_messages'
    .container
      = yield

