= render 'validation_errors', :resource => @organization

= form_for @organization, url: url do |f|
  = f.label :name
  = f.text_field :name
  = f.label 'Amazon Key ID*'
  = f.text_field :aws_key_id
  = f.label 'Amazon Secret Key*'
  = f.password_field :aws_secret_key
  %br
  = f.submit "Create", 'class' => 'btn btn-primary'
%p 
  * - the fields are optional
