= render 'validation_errors'

= form_for resource, url: registration_path(resource) do |f|
  = label_tag :organization_name
  = text_field_tag 'head[organization_attributes][name]'
  = f.label :email
  = f.text_field :email
  = f.label :password
  = f.password_field :password
  = f.label :password_confirmation
  = f.password_field :password_confirmation
  = f.submit 'Signup'
