= render 'validation_errors'

= form_for @organization, url: registration_path(@organization) do |f|
  = label_tag :organization_name
  = text_field_tag 'head[organizations][][name]'
  = label_tag :subdomain
  = text_field_tag 'head[organizations][][subdomain]'
  = f.label :email
  = f.text_field :email
  = f.label :password
  = f.password_field :password
  = f.label :password_confirmation
  = f.password_field :password_confirmation
  = f.submit 'Signup'
