= link_to "Add terminal", new_terminal_path

Terminals:
%table
  %tbody
    - @terminals.each do |t|
      %tr{:id => "terminal#{t.id}"}
        %td= terminal_connect_link(t)
        %td= t.uri
        %td= link_to "Edit", edit_terminal_path(t)
        %td= button_to "Delete", terminal_path(t), :method => :delete, 'data-confirm' => 'Are you sure?'

