= form_for @connection, url: organizations_terminal_connections_path(@terminal.id) do |f|
  = f.label :user
  = f.text_field :user
  = f.label :protocol
  = f.select :protocol, @protocols.map {|p| [p, p]}
  = f.label :port
  = f.number_field :portol
  = f.label :password
  = f.password_field :credentials
  = f.submit 'Create'
