= render 'validation_errors', resource: @connection

= form_for @connection, url: url, :html => { :multipart => true } do |f|
  = f.label :user
  = f.text_field :user
  = f.label :protocol
  = f.select :protocol, @protocols.map {|p| [p, p]}
  = f.label :port
  = f.number_field :port
  = f.label :password
  = f.password_field :credentials
  = f.label :certificate
  = f.file_field :certificate
  %br
  = f.submit controller.action_name, 'class' => 'btn btn-primary'
