- if @terminal.has_connections?
  %h4 Connections for #{@terminal.uri}

  %table.table.table-striped.table-bordered
    %thead
      %tr
        %th Username
        %th Port
        %th Protocol
        %th
    %tbody
      - @terminal.connections.each do |connection|
        %tr
          %td= connection.user
          %td= connection.port
          %td= connection.protocol
          %td
            .inline
              = link_button 'Edit', edit_organizations_terminal_connection_path(@terminal, connection)
            .inline
              = delete_button 'Delete', organizations_terminal_connection_path(@terminal, connection)
- else
  %h4
    This terminal has no connections yet.
= link_to 'Create connection', new_organizations_terminal_connection_path(:terminal_id => @terminal.id), class: 'btn btn-primary'
