!!!
%html
  %head
    %title Cloudview
    = stylesheet_link_tag "http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800"
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags

  %body
    %p
    = render 'flash_messages'
    .container
      = yield

